<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>YPH</title>

    <link href="main.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>

</head>
<body ng-controller="indexController" class = "main_body">
    <div class="container main_container">

<!--        <script>-->
<!--            var testurl = document.location.protocol + "//" + document.location.host + "/api/v21/test";-->
<!--        </script>-->
<!--        <h1>Introduce page</h1>-->
<!--        <p>Actual version api 21.0</p>-->
<!--        <p> API URL - /api/v21/</p>-->
<!--        <script>-->
<!--            document.write('<a href="' + testurl + '">API URL for test -' + testurl + '</a>');-->
<!--        </script>-->

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:aliceblue">
            <a href = "#" class="btn navbar-brand d-inline-block align-top" style="background-color:#c4a3ec; color:white; padding:7px">YPH</a>
            <div id = "head_menu">
                <list id = "menu_items" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#!/users">Пользователи</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/tasks">Задания</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/events">События</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/calendar">Календарь</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/calendar">Справочники</a></li>

                    <li class="nav-item" ng-show="!isUserLoggedIn()">
                        <form class="align-middle" ng-submit="tryToAuth()">
                            <div class="input-group input-group-sm" style="padding: 4px;">
                                <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;"/>

                                <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;"/>

                                <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                        style="margin-left: 10px;" type="submit">Войти</button>
                            </div>
                        </form>
                    </li>

                    <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                        <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выход</button>
                        <span class="text-info">{{username}}</span>
                    </li>

                    <li class="nav-item" ng-show="loginError" style="padding: 4px;">
                        <span class="text-danger">Неправильный логин или пароль!</span>
                    </li>

                </list>
            </div>
        </nav>

        <br>
        <ng-view></ng-view>
        <br>

        <script src="index.js"></script>
        <script src="users/users.js"></script>

        <div style="padding-top:50px">
            © 2021 Polyashov Alexey
        </div>

    </div>
</body>
</html>